<% if display_name? == true %>
<h1><%= @user.display_name %>'s Profile</h1>
<% else %>
<h1><%= @user.username %>'s Profile</h1>
<% end %>

<p>This user has <%= pluralize(@user.projects.count, "project") %>.</p>

<p><%= @user.profile %></p><br>

<% if logged_in? && current_user == @user %>
<p><%= button_to "Edit My Profile", edit_user_path, method: :get %></p>
<% end %>